        <div class="os-selection-grid">
          <!-- Ubuntu Card -->
          <div
            class="os-card"
            data-os="ubuntu"
            data-image="https://cloud-images.ubuntu.com/jammy/current/jammy-server-cloudimg-amd64.img"
          >
            <div class="os-icon ubuntu-icon"></div>
            <div class="os-info">
              <h3>Ubuntu</h3>
              <p>22.04 LTS</p>
            </div>
            <div class="os-select-indicator"></div>
          </div>
          <div
            class="os-card"
            data-os="ubuntu24"
            data-image="https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img"
          >
            <div class="os-icon ubuntu-icon"></div>
            <div class="os-info">
              <h3>Ubuntu</h3>
              <p>24.04 LTS</p>
            </div>
            <div class="os-select-indicator"></div>
          </div>

          <!-- Fedora Card -->
          <div
            class="os-card"
            data-os="fedora"
            data-image="https://download.fedoraproject.org/pub/fedora/linux/releases/39/Cloud/x86_64/images/Fedora-Cloud-Base-39-1.5.x86_64.qcow2"
          >
            <div class="os-icon fedora-icon"></div>
            <div class="os-info">
              <h3>Fedora</h3>
              <p>39 Cloud</p>
            </div>
            <div class="os-select-indicator"></div>
          </div>

          <!-- Debian Card -->
          <div
            class="os-card"
            data-os="debian"
            data-image="https://cloud.debian.org/images/cloud/bookworm/latest/debian-12-generic-amd64.qcow2"
          >
            <div class="os-icon debian-icon"></div>
            <div class="os-info">
              <h3>Debian</h3>
              <p>12 Bookworm</p>
            </div>
            <div class="os-select-indicator"></div>
          </div>

          <!-- OpenSUSE Card -->
          <div
            class="os-card"
            data-os="opensuse"
            data-image="https://download.opensuse.org/distribution/leap/16.0/appliances/Leap-16.0-Minimal-VM.x86_64-Cloud-Build16.2.qcow2"
          >
            <div class="os-icon suse-icon"></div>
            <div class="os-info">
              <h3>OpenSUSE</h3>
              <p>Leap 16</p>
            </div>
            <div class="os-select-indicator"></div>
          </div>

          <!-- Windows 10 Installer - Clean Installation -->
          <div
            class="os-card"
            data-os="windows-installer"
            data-image="windows-installer"
            title="Чистая установка Windows 10 с ISO (для создания golden image)"
          >
            <div class="os-icon windows-icon"></div>
            <div class="os-info">
              <h3>Windows 10</h3>
              <p>Установка</p>
            </div>
            <div class="os-select-indicator"></div>
          </div>

          <!-- Windows 10 Clone - From Golden Image -->
          <div
            class="os-card"
            data-os="windows-golden"
            data-image="windows-golden-image"
            title="Windows 10 из готового образа (быстрое развертывание с Cloudbase-Init)"
          >
            <div class="os-icon windows-icon"></div>
            <div class="os-info">
              <h3>Windows 10</h3>
              <p>Golden Image</p>
            </div>
            <div class="os-select-indicator"></div>
          </div>
        </div>
